body {
    background-color: rgb(253, 203, 0);
}
/* Adds style for all content boxes in project*/
.infoBox {
    background-color: red;
    margin-top: 90px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.infoBox-row {
    margin-left: 20px;
    margin-right: 20px;
}
/*style of tthe image in the about-me section*/
.about-image{
    float: left;
    margin-right: 30px;
}


